# Temp Files
*~
\#*
.\#*
*.swp
*.bmk
tmp

# Record Files
.recentf
.session
.w3m
tramp
eshell

# Private Files
.ssh
.abbrev_defs
.emacs_custom.el

# Binary Files
*.elc
*.db

# Douban Music
DouBanMusic/
url/

# Other Files
.emacs
.emacs.d
